{% extends 'base.html.twig' %}

{% block title %}THE PARTYLIT{% endblock %}

{% block body %}

<div class="container" style="margin-top: 100px;">


     {{ form_start(evenementFormSearchType) }}
     {{ form_row(evenementFormSearchType.contry) }}
     {{ form_row(evenementFormSearchType.city) }}
     {{ form_row(evenementFormSearchType.type) }}
     {{ form_row(evenementFormSearchType.date) }}
     {{ form_end(evenementFormSearchType) }}

</div>

{% endblock %}