{# templates/emails/confirmeReservation.html.twig #}
<h3> Confirmation ! </h3>

Bonjour {{ user.userName }} ! Votre rdv est confirmée.<br>

Vous avez pris un RDV {{ booking.title }} le  {{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }} jusqu'au {{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}






<img src= " {{ absolute_url ( asset ( 'images/logo.png' )) }} " >
