{% extends 'base.html.twig' %}

{% block title %}THE PARTYLIT{% endblock %}

{% block body %}

    <!-- MAIN CONTENT -->
    <div id="content-block">
        <div class="head-bg">
            <div class="head-bg-img"></div>

            <img src="http://mimosa.com.do/wp-content/uploads/2016/08/djjjj.jpg"style=" height: 400px;width: 100%;">
            {#<h1>Your Best Social Network Template</h1>
            <p>Donec in rhoncus tortor. Sed tristique auctor ligula vel viverra</p>
            <a class="btn color-1 size-1 hover-1" href="blog-detail-2.html"><i class="fa fa-facebook"></i>sign up via facebook</a>
            <a class="be-register btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>sign up now</a>#}

        </div>
        <div class="container-fluid custom-container">
            {#<div class="row">
                <div class="col-md-2 left-feild">
                    <form action="./" class="input-search">
                        <input type="text" required placeholder="Enter keyword">
                        <i class="fa fa-search"></i>
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="col-md-10 ">
                    <div class="for-be-dropdowns">
                        <div class="be-drop-down">
                            <i class="icon-projects"></i>
                            <span class="be-dropdown-content"> Projects	</span>
                            <ul class="drop-down-list">
                                <li><a>Item - 1</a></li>
                                <li><a>Item - 2</a></li>
                                <li><a>Item - 3</a></li>
                            </ul>
                        </div>
                        <div class="be-drop-down">
                            <i class="icon-creative"></i>
                            <span class="be-dropdown-content">All Creative Filds
                                </span>
                            <ul class="drop-down-list">
                                <li><a>Item - 1</a></li>
                                <li><a>Item - 2</a></li>
                                <li><a>Item - 3</a></li>
                            </ul>
                        </div>
                        <div class="be-drop-down">
                            <i class="icon-features"></i>
                            <span class="be-dropdown-content">Features
                                </span>
                            <ul class="drop-down-list">
                                <li><a>Featured</a></li>
                                <li><a>Most Appreciated</a></li>
                                <li><a>Most Viewed</a></li>
                                <li><a>Most Discussed</a></li>
                                <li><a>Most Recent</a></li>
                            </ul>
                        </div>
                        <div class="be-drop-down">
                            <i class="icon-worldwide"></i>
                            <span class="be-dropdown-content">Worldwide
                                </span>
                            <ul class="drop-down-list">
                                <li><a>Item - 1</a></li>
                                <li><a>Item - 2</a></li>
                                <li><a>Item - 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>#}

        </div>
    </div>
    <div class="container-fluid custom-container">
        <div class="row">

            <div class="col-md-10 col-md-push-2">

                <div class="be-user-wrapper row">
                    {%  for user in users %}
                        <div class="custom-column-5">
                            <div class="be-user-block style-2">
                                <a class="be-ava-user style-2" href="{{ path("author.profil",{'id':user.id}) }}">
                                    <img src="{{ asset('image/'~user.image) }}" alt="" style="border-radius: 105px;">
                                </a>  {{ dump(path("author.profil",{'id':user.id})) }}
                                <div class="be-user-counter">

                                    <div class="c_number">{{ evenement[0]['event'] }}<a  href="{{ path("author.profil",{'id':user.id}) }}"></div>
                                    <div class="c_text">events</div>
                                </div>
                                <a href="{{ path("author.profil",{'id':user.id}) }}" class="be-use-name">{{ user.user }}</a>
                                <p class="be-user-info">{{ user.city }}, {{ user.contry }}</p>
                                <div class="be-text-tags">
                                    <a href="blog-detail-2.html">Graphic Design</a>,
                                    <a href="blog-detail-2.html">Branding,</a>
                                    <a href="blog-detail-2.html">Typography</a>
                                </div>
                                <div class="info-block">
                                    <span><i class="fa fa-thumbs-o-up"></i> 360</span>
                                    <span><i class="fa fa-eye"></i> 789</span>
                                </div>
                                <a class="btn color-1 size-2 hover-1">Follow</a>
                                <a class="portfolio-link type-1 clearfix" href="{{ path("author.profil",{'id':user.id}) }}">
                                    <img src="img/p_link_1.jpg" alt="">
                                    <img src="img/p_link_2.jpg" alt="">
                                    <img src="img/p_link_3.jpg" alt="">

                                    <div class="color_bg">
                                        <span>view portfolio</span>
                                        <span class="child"></span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    {% endfor %}



                </div>
                <div  style="margin-left: 350px;margin-top: 70px;">
                    <div class="row mt-30">
                        <div class="col">

                            {{ knp_pagination_render( users ) }}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-pull-10 left-feild">
                <div class="be-vidget">
                    <h3 class="letf-menu-article">
                        Popular Creative Filds
                    </h3>
                    <div class="creative_filds_block">
                        <div class="ul">
                            <a href="blog-detail-2.html">Graphic Design		</a>
                            <a href="blog-detail-2.html">Photography			</a>
                            <a href="blog-detail-2.html">Interaction Design	</a>
                            <a href="blog-detail-2.html">Art Direction		</a>
                            <a href="blog-detail-2.html">Illustration		</a>
                        </div>
                    </div>
                </div>
                <div class="be-vidget">
                    <h3 class="letf-menu-article">
                        Popular Tags
                    </h3>
                    <div class="tags_block clearfix">
                        <ul>
                            <li><a href="blog-detail-2.html">photoshop</a></li>
                            <li><a href="blog-detail-2.html">graphic</a></li>
                            <li><a href="blog-detail-2.html">art</a></li>
                            <li><a href="blog-detail-2.html">website</a></li>
                            <li><a href="blog-detail-2.html">logo</a></li>
                            <li><a href="blog-detail-2.html">identity</a></li>
                            <li><a href="blog-detail-2.html">logo design</a></li>
                            <li><a href="blog-detail-2.html">interactive</a></li>
                            <li><a href="blog-detail-2.html">blue</a></li>
                            <li><a href="blog-detail-2.html">branding</a></li>
                        </ul>
                    </div>
                </div>
                <div class="be-vidget">
                    <h3 class="letf-menu-article">
                        Filter By
                    </h3>
                    <div class="filter-block">
                        <ul>
                            <li><a><i class="fa fa-graduation-cap"></i>Schools</a>
                                <div class="be-popup">
                                    <h3 class="letf-menu-article">
                                        Enter School
                                    </h3>
                                    <form action="./" class="input-search">
                                        <input type="text" required placeholder="Start typing to see list">
                                    </form>
                                    <i class="fa fa-times"></i>
                                </div>
                            </li>
                            <li><a><i class="fa fa-wrench"></i>Tools Used</a>
                                <div class="be-popup">
                                    <h3 class="letf-menu-article">
                                        Tools
                                    </h3>
                                    <form action="./" class="input-search">
                                        <input type="text" required placeholder="Start typing to see list">
                                    </form>
                                    <i class="fa fa-times"></i>
                                </div>
                            </li>
                            <li><a><i class="fa fa-paint-brush"></i>Color</a>
                                <div class="be-popup be-color-picker">
                                    <h3 class="letf-menu-article">
                                        Choose color
                                    </h3>
                                    <div class="for-colors">
                            {#<ul class="colors cfix">
                                <li class="color color-0-0"></li>
                                <li class="color color-0-1"></li>
                                <li class="color color-0-2"></li>
                                <li class="color color-0-3"></li>
                                <li class="color color-0-4"></li>
                                <li class="color color-0-5"></li>
                                <li class="color color-0-6"></li>
                                <li class="color color-0-7"></li>
                                <li class="color color-0-8"></li>
                                <li class="color color-0-9"></li>
                                <li class="color color-0-10"></li>
                                <li class="color color-0-11"></li>
                                <li class="color color-1-0"></li>
                                <li class="color color-1-1"></li>
                                <li class="color color-1-2"></li>
                                <li class="color color-1-3"></li>
                                <li class="color color-1-4"></li>
                                <li class="color color-1-5"></li>
                                <li class="color color-1-6"></li>
                                <li class="color color-1-7"></li>
                                <li class="color color-1-8"></li>
                                <li class="color color-1-9"></li>
                                <li class="color color-1-10"></li>
                                <li class="color color-1-11"></li>
                                <li class="color color-2-0"></li>
                                <li class="color color-2-1"></li>
                                <li class="color color-2-2"></li>
                                <li class="color color-2-3"></li>
                                <li class="color color-2-4"></li>
                                <li class="color color-2-5"></li>
                                <li class="color color-2-6"></li>
                                <li class="color color-2-7"></li>
                                <li class="color color-2-8"></li>
                                <li class="color color-2-9"></li>
                                <li class="color color-2-10"></li>
                                <li class="color color-2-11"></li>
                                <li class="color color-3-0"></li>
                                <li class="color color-3-1"></li>
                                <li class="color color-3-2"></li>
                                <li class="color color-3-3"></li>
                                <li class="color color-3-4"></li>
                                <li class="color color-3-5"></li>
                                <li class="color color-3-6"></li>
                                <li class="color color-3-7"></li>
                                <li class="color color-3-8"></li>
                                <li class="color color-3-9"></li>
                                <li class="color color-3-10"></li>
                                <li class="color color-3-11"></li>
                                <li class="color color-4-0"></li>
                                <li class="color color-4-1"></li>
                                <li class="color color-4-2"></li>
                                <li class="color color-4-3"></li>
                                <li class="color color-4-4"></li>
                                <li class="color color-4-5"></li>
                                <li class="color color-4-6"></li>
                                <li class="color color-4-7"></li>
                                <li class="color color-4-8"></li>
                                <li class="color color-4-9"></li>
                                <li class="color color-4-10"></li>
                                <li class="color color-4-11"></li>
                                <li class="color color-5-0"></li>
                                <li class="color color-5-1"></li>
                                <li class="color color-5-2"></li>
                                <li class="color color-5-3"></li>
                                <li class="color color-5-4"></li>
                                <li class="color color-5-5"></li>
                                <li class="color color-5-6"></li>
                                <li class="color color-5-7"></li>
                                <li class="color color-5-8"></li>
                                <li class="color color-5-9"></li>
                                <li class="color color-5-10"></li>
                                <li class="color color-5-11"></li>
                                <li class="color color-6-0"></li>
                                <li class="color color-6-1"></li>
                                <li class="color color-6-2"></li>
                                <li class="color color-6-3"></li>
                                <li class="color color-6-4"></li>
                                <li class="color color-6-5"></li>
                                <li class="color color-6-6"></li>
                                <li class="color color-6-7"></li>
                                <li class="color color-6-8"></li>
                                <li class="color color-6-9"></li>
                                <li class="color color-6-10"></li>
                                <li class="color color-6-11"></li>
                                <li class="color color-7-0"></li>
                                <li class="color color-7-1"></li>
                                <li class="color color-7-2"></li>
                                <li class="color color-7-3"></li>
                                <li class="color color-7-4"></li>
                                <li class="color color-7-5"></li>
                                <li class="color color-7-6"></li>
                                <li class="color color-7-7"></li>
                                <li class="color color-7-8"></li>
                                <li class="color color-7-9"></li>
                                <li class="color color-7-10"></li>
                                <li class="color color-7-11"></li>
                                <li class="color color-8-0"></li>
                                <li class="color color-8-1"></li>
                                <li class="color color-8-2"></li>
                                <li class="color color-8-3"></li>
                                <li class="color color-8-4"></li>
                                <li class="color color-8-5"></li>
                                <li class="color color-8-6"></li>
                                <li class="color color-8-7"></li>
                                <li class="color color-8-8"></li>
                                <li class="color color-8-9"></li>
                                <li class="color color-8-10"></li>
                                <li class="color color-8-11"></li>
                                <li class="color color-9-0"></li>
                                <li class="color color-9-1"></li>
                                <li class="color color-9-2"></li>
                                <li class="color color-9-3"></li>
                                <li class="color color-9-4"></li>
                                <li class="color color-9-5"></li>
                                <li class="color color-9-6"></li>
                                <li class="color color-9-7"></li>
                                <li class="color color-9-8"></li>
                                <li class="color color-9-9"></li>
                                <li class="color color-9-10"></li>
                                #}<li class="color color-9-11"></li>
                        </ul>
                    </div>
                    <i class="fa fa-times"></i>

                </div>
                </li>
                <li><a><i class="fa fa-camera-retro"></i>Visit Gallery</a>
                    <div class="be-popup">
                        <h3 class="letf-menu-article">
                            Galerry
                        </h3>
                        <form action="./" class="input-search">
                            <input type="text" required placeholder="Start typing to see list">
                        </form>
                        <i class="fa fa-times"></i>
                    </div>
                </li>
                </ul>
            </div>
        </div>
        <div></div>

    </div>
    </div>
    </div>
    </div>

{% endblock %}