{% extends 'base.html.twig' %}
{% form_theme formRessetpasswordType 'bootstrap_4_layout.html.twig' %}
{#{% form_theme formResset 'bootstrap_4_layout.html.twig' %}#}
{% block title %}Edit profile{% endblock %}



{% block body %}
    <!-- MAIN CONTENT -->
    <div id="content-block">
    <div class="container be-detail-container">
        <div class="row">
            <div class="col-xs-12 col-md-3 left-feild">
                <div class="be-vidget back-block">
                    <a class="btn full color-1 size-1 hover-1" href="{{ path('author.index') }}"><i class="fa fa-chevron-left"></i>back to profile</a>
                </div>
                {#<div class="be-vidget hidden-xs hidden-sm" id="scrollspy">
                    <h3 class="letf-menu-article">
                        Choose Category
                    </h3>
                    <div class="creative_filds_block">
                        <ul class="ul nav">
                            <li><a href="blog-detail-2.htmlbasic-information">Basic Information</a></li>
                            <li><a href="blog-detail-2.htmledit-password">Edit Password</a></li>
                            <li><a href="blog-detail-2.htmlon-the-web">On The Web</a></li>
                            <li><a href="blog-detail-2.htmlabout-me">About Me</a></li>
                            <li><a href="blog-detail-2.htmlweb-references">Web References</a></li>
                        </ul>
                    </div>
                    <a class="btn full color-1 size-1 hover-1 add_section"><i class="fa fa-plus"></i>add sections</a>
                </div>
#}
            </div>

                    </div>
                    <div class="affix-block" id="edit-password">
                        <div class="be-large-post">
                            <div class="info-block style-2">
                                <div class="be-large-post-align"><h3 class="info-block-label">Resset  Password</h3></div>
                            </div>
                            <div class="be-large-post-align">
                                <div class="row">
                                    {{ form_start(formRessetpasswordType) }}
                                    <div class="input-col col-xs-12 col-sm-4">
                                        <div class="form-group focus-2">
                                            <div class="form-label"> Password</div>
                                            {# <input class="form-input" type="password" placeholder="">#}
                                            {{ form_row(formRessetpasswordType.oldPassword) }}
                                        </div>
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-4">
                                        <div class="form-group focus-2">
                                            <div class="form-label">New Password</div>
                                           {# <input class="form-input" type="password" placeholder="">#}
                                            {{ form_row(formRessetpasswordType.password) }}
                                        </div>
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-4">
                                        <div class="form-group focus-2">
                                            <div class="form-label"></div>
                                         {#   <input class="form-input" type="password" placeholder="">#}
                                            {{ form_row(formRessetpasswordType.password) }}
                                        </div>
                                    </div>
                                    <button class="btn-primary" style="width: 120px;height: 45px;margin-left: 70px;" >save</button>
                                    {{ form_end(formRessetpasswordType) }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}