
{% block stylesheets %}
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Login</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
		<link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/libs/css/style.css">
		<link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
		<style>
			html,
			body {
				height: 100%;
			}

			body {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				align-items: center;
				padding-top: 40px;
				padding-bottom: 40px;
			}
		</style>
	</head>
{% endblock %}



{% block javascripts %}

{% endblock %}
{% block body %}
	<div class="splash-container" >
		<div class="card ">
			<div class="card-header text-center">
				<a href="{{ path("home") }}"><img class="logo-img" src="{{ asset('logo/logo7.png ') }}" alt="logo" style="height: 255px;"></a>
				<span class="splash-description">Please enter your user information.</span>
			</div>
			<div class="card-body">
<form method="post">
{% for message in app.flashes('danger') %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endfor %}


	<h2 class="bubble-title">Password recovery</h2>
	<label for="inputEmail" class="">Enter your email*</label>
	<input type="Email" name="email" id="email" class="form-control" placeholder="email" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">




	<div class="text-center mt-2">
		<button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
			Envoyer !
		</button>
	</div>
</form>

			</div>
			<div class="card-footer bg-white p-0  ">
				<div class="card-footer-item card-footer-item-bordered">
					<a href="{{ path('app_login') }}" class="footer-link">Back To Login</a>
				</div>
				<div class="card-footer-item card-footer-item-bordered">
                <a href="{{ path('app_register') }}" class="footer-link">Create An Account</a></div>


				</div>
			</div>
		</div>
	</div>





{% endblock %}
